@import url(reset.css);

.wrapper{
	background-color: #edf2c5;
	width: 1260px;
	height: 940px;
	margin: 0 auto;
	padding-top: 53px;

}

.container{
	width: 940px;
	margin: 0 auto;
}

.header{
	width: 940px;
	margin-bottom: 8px;
	padding: 0 auto;
	/*border: 2px black solid;*/
	display: flex;
	justify-content: space-between;
}

.header h1{
	/*line-height: 42px;*/
	width: 271px;
	/*border: 2px black solid;*/
	font-family: Arial Black;
	color: #778a50;
	font-size: 32px;
	cursor: pointer;
}

.header ul{
	display: inline-flex;

}

.header li{
	margin-left: 10px;
	cursor: pointer;
}

.header li:nth-child(4){
	border:1px solid #778a50;
	background-color: #edf2c5;
	font-family: Arial Black;
	font-size: 12px;
	color: #778a50;
	line-height: 25px;
	border-radius: 3px;
	width: 60px;
	height: 25px;
	text-align: center;
}

.header li:nth-child(5){
	border:1px solid #778a50;
	background-color: #edf2c5;
	font-family: Arial Black;
	font-size: 12px;
	color: #778a50;
	line-height: 25px;
	border-radius: 3px;
	width: 60px;
	height: 25px;
	text-align: center;
}

.header span{
	background-color: #778a50;
	display: block;
	width: 1px;
	height: 25px;
}

/*----------------------------header bottom--------------------------------*/

.select{
	margin-bottom: 20px;
	background-color: #778a50;
	border-radius:3px;
	box-shadow:2px 2px 3px black;
}

.select li{
	font-family: Arial Black;
	font-size: 16px;
	color: #edf2c5;
	margin: 16px 30px;
	display: inline-flex;
	justify-content: start;
	border-radius: 3px;
}

.select li:hover{
	color:black;
	cursor: pointer;
}
/*----------------------------select bottom--------------------------------*/

.visual{
	width: 940px;
	padding-bottom: 30px;
}

/*----------------------------visual bottom--------------------------------*/

.content{
	display: flex;
	justify-content: space-between;
}

/*----------------------------content bottom--------------------------------*/

.vegetable{
	/*float: left;*/
	padding-bottom: 35px;
	/*border:1px solid black;*/
	/*justify-content: space-between;*/
}

.vegetable h2{
	line-height: 45px;
	background-color: #778a50;
	/*width: 445px;*/
	font-family: Arial Black;
	font-size: 16px;
	color: #edf2c5;
	margin-bottom: 15px;
	border-radius: 3px;
	padding-left: 30px;
}

.vegetable img{
	width: 140px;
	justify-content: space-around;

/*	display: inline-flex;*/
}

.vegetable img:nth-child(2){
	margin: 0 10px;
}

/*----------------------------vagetable bottom--------------------------------*/

.contact{
	/*float: right;*/
	width: 445px;
	border-radius: 3px;
}

.contact h2{
	line-height: 45px;
	background-color: #778a50;
	/*width: 445px;*/
	font-family: Arial Black;
	font-size: 16px;
	color: #edf2c5;
	margin-bottom: 15px;
	padding-left: 30px;
}

.contact ul{
	background-color: #f7fbda;
	padding-top: 16px;
	padding-left: 15px;
}

.contact p{
	font-family: ArialMT Regular;
	font-size: 12px;
	line-height: 1.33;
	color: #7d7d7d;
	width: 414px;
}

.contact span{
	width: 414px;
	display: block;
	height: 1px;
	background-color: #7d7d7d;
	margin: 16px 0;
}

.contact p:last-child{
	line-height: 1.83;
}
/*----------------------------contact bottom--------------------------------*/

.footer{
	width: 1264px;
	height: 60px;
	background-color: #778a50;
	font-family: ArialMT Regular;
	font-size: 12px;
	color: #edf2c5;
	text-align: center;
	line-height: 60px;
}

/*----------------------------footer bottom--------------------------------*/